<!doctype html>
<html data-slug="<%= slug %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/overlay.css" />
</head>
<body>
  <div class="wrap">
    <div class="bottle" aria-label="Gift Bottle">
      <div class="water" id="water"></div>
      <div class="items" id="items"></div>
      <div class="shine"></div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/overlay.js"></script>
</body>
</html>
